
/*    font-family: ModernEuphony;*/
/*    src: url("../fonts/geomaregular.otf") format("opentype");*/

/*}*/

input:focus, textarea:focus, select:focus{
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    overflow: hidden;
}

.container_mainvisible {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 14% 30% 55%;
    grid-template-rows: 10% 43% 44% 2%;
}

.container_mainhidden {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 0 35% 65%;
    grid-template-rows: 10% 44% 44% 2%;
}

.container{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: ghostwhite;
}

.containerHidden{
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#euphony_logo{
    position: absolute;
   display: table-cell;
    vertical-align: middle;
}

#euphony_logo_img {
    padding-left: 5px;
    padding-top: 5px;
    width: 90%;
}

#container_logo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: table;
    height: 100%;
}


#container_menubutton{
    width: fit-content;
    height: fit-content;
}

.container_menubuttonhidden{
    padding-left: 10px;
    position: absolute;
    bottom: 4px;
    left: 0;
}

.container_sidebar{
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: ghostwhite;
}


.container_sidebarhidden{
    position: relative;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


/*Menu x button*/
#nav-icon3 {
    width: 25px;
    height: 15px;
    position: relative;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .10s ease-in-out;
    -moz-transition: .10s ease-in-out;
    -o-transition: .10s ease-in-out;
    transition: .10s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 16px;
}

#nav-icon3.open span:nth-child(1) {
    top: 16px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
}



#container_header{
    background-color: transparent;
    margin-top: 15px;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}



#container_searchbar{
    width: 100%;
    height: 100%;
    right: 0;
}

#container_searchbaraggregate{
    height: 100%;
    background-color: ghostwhite;
    border: none;
    right: 0;
    width: 100%;
    border-radius: 15px;
    resize: none;
    float: right;
    display: table;
}

.container_searchlogo{
    height: 100%;
    width: 60px;
    margin-top: 5px;
    padding-top: 5px;
    display: table-cell;
}

#albums{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
}


#searchlogo{
    padding-left: 12px;
    padding-top: 3px;
    height: 30px;
}

#container_searchlogo{
    cursor: pointer;
}

#container_searcharea{
    border: none;
    background-color: transparent;
    height: 100%;
    right: 0;
    width: 100%;
    resize: none;
    display: table-cell;
    vertical-align: center;
}
#searchbar{
    border: none;
    background-color: transparent;
    height: 50px;
    right: 0;
    width: 100%;
    font-size: 40px;
    resize: none;
    float: bottom;

}


#container_browser{
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    position: relative;
    overflow-y: scroll;
}

#resizebar{
    width: 100%;
    height: 10%;
    background: transparent;
    cursor: pointer;
    position: absolute;
    padding-top: 10px;
    bottom: -20px;
}

#container_player{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;

}

#container_social{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
}


*,  *:before, *:after {margin: 0; padding: 0;box-sizing: border-box;
}
ul, ol     {list-style-type: none;}

a,a:visited,a:focus {text-decoration: inherit;font-weight: inherit;color: inherit;}



i {
  color: #3a3a3a;
  margin-right: 10px;
  font-size: 0.9em;
  position: relative;
}


.music-player {
   width: 100%;
   font-family: 'Open Sans', sans-serif;
   box-shadow: 0 10px 40px 5px rgba(0,0,0,0.3);
   -webkit-box-align: center;
   border-radius: 10px;
   background: #eaeaea;
   height: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
}

.music-player .content {
  font-size: 0.8em;
  line-height: 2;
  text-overflow: ellipsis;
}

#container_artowrk{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#artwork{
   object-fit: cover;
    min-height: 100%;
    min-width: 100%;

}

.content{
    min-height: 30%;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: grid;

    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;

}

.track, .artist, .album {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track{
    grid-row: 1 / span 1;
    grid-column: 1;
}

.artist{
    grid-row: 2 / span 1;
    grid-column: 1;
}

.progress{
    grid-row: 3/ span 1;
    grid-column: 1;
}

#timestamp{
    grid-row: 4/ span 1;
    grid-column: 1;
}

#start{
    float: left;
    padding-left: 4px;
    font-weight: normal;
}
#stop{
    float: right;
    padding-right: 4px;
    font-weight: normal;
}

#playcontrols{
    grid-row: 5/ span 1;
    grid-column: 1;
    height: 40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 4px;
}

#skipback, #rewind, #play, #pause, #forward, #end{
    grid-row: 1;
    width: 30px;
    height: 30px;
}


.playicon{
    border: none;

}

.playicon:hover{
    cursor: pointer;
    filter: brightness(0.25);
    -webkit-filter: brightness(0.25);
    padding: 4px;
    transition-duration: 0.2s;
}


#skipback{ grid-column: 1; }
#rewind{ grid-column: 2; }
#play{ grid-column: 3; }
#pause{ visibility: hidden; grid-column: 3; }
#forward { grid-column: 4; }
#end { grid-column: 5; }

.music-player img {
  border-radius: 8px 8px 0 0;
  margin: auto;
  transition: all 0.5s ease;
  max-height: 80%;
  display: block;
}

/*.music-player img:hover {*/
/*  -webkit-filter: grayscale();*/
/*          filter: grayscale();*/
/*  cursor: pointer;*/
/*}*/

.music-player .artist {
  font-weight: 400;
  font-size: 1.1em;
}

.music-player .track {
  font-weight: 300;
}

progress, progress::-webkit-progress-bar
{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border:0;
  height:2px;
  background-color: #d6d6d6;
  width: 100%;
  position: relative;
}

progress, ::-webkit-progress-value {
  background: #10d7af;
}

/*::-moz-progress-value {*/
/*  background: #10d7af;*/
/*}*/

.playicon{
    width: 20px;
    height: 20px;
}

.music-player ul.play-controls{ 
    text-align: center; 
    margin: 10px 0; 
    cursor: pointer;
    font-size: 1.9em;
    margin: 0 10px; 
}


